button {
    height: 80px;
    width: 80px;
    background-color: azure;
    border: 1px solid black;
    font-size: x-large;
}
.grid {
    width: 240px;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    font-size: 0px;
    margin-left: auto;
    margin-right: auto;
}
table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
th {
    border: 1px solid black;
}
* {
    text-align: center;
}